<IfModule mod_rewrite.c>
    RewriteEngine On

    # Disable MultiViews
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    # Redirect www to non-www
    RewriteCond %{HTTP_HOST} ^www\.jetblastintl\.com$ [NC]
    RewriteRule ^(.*)$ https://jetblast.mightywarnersdemo.com/$1 [L,R=301]

    # Send everything to public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
