h1,.h1,
h2,.h2,
h3,
h4,
h5,
h6 {
    line-height:  normal;
}
h2 span,h1 span{
  line-height: normal;
}
h1,.h1,h1 strong{
  line-height: 83.333%;

  font-size: 30px;

  @include min(768) {
    font-size: 33px;
  }
  @include min(992) {
    font-size: 36px; 
   }
  @include min(1200) {
    font-size: 39px;
  }
  @include min(1360) {
    font-size: 41px;
  }
  @include min(1440) {
    font-size:44px;
  }
  @include min(1900) {
    font-size:48px;
  }

}

h2,.h2,
h2 span ,.h2 span,h2 strong{
font-weight: 400;

  font-size: 23px;

  @include min(768) {
    font-size: 20px;
  }
  @include min(992) {
    font-size: 22px;
  }
  @include min(1200) {
    font-size: 27px;
  }
  @include min(1350) {
    font-size: 32px;
  }
  @include min(1440) {
    font-size: 38px;
  }
  @include min(1600) {
    font-size: 40px;
  }
  @include min(1900) {
    font-size: 42px;
  }
 
  // @include min(1600) {
  //   font-size: 49px;
  // }
  // @include min(1900) {
  //   font-size: 55px;
  // }
}

h3,
.h3,.h3 strong {
  font-weight: 500;

  font-size: 15px;
  line-height: 100%;

  @include min(768) {
    font-size: 16px;
  }
  @include min(992) {
    font-size: 17px;
  }
  @include min(1200) {
    font-size: 18px;

  }
  @include min(1350) {
    font-size: 19px;

  }
  @include min(1440) {
    font-size: 20px;
  }
  @include min(1600) {
    font-size:  21px;
  }
  @include min(1900) {
    font-size: 22px;
  }


}
h4,
.h4,.h4 strong {
  font-weight: 500;

  font-size: 13px;

  @include min(768) {
    font-size: 14px;
  }
  @include min(992) {
    font-size: 13px;
  }
  @include min(1200) {
    font-size: 14px;

  }
  @include min(1280) {
    font-size: 14px;

  }
  @include min(1350) {
    font-size: 17px;

  }
  @include min(1440) {
    font-size: 16px;
  }
  @include min(1600) {
    font-size:  17px;
  }
  @include min(1900) {
    font-size: 20px;
  }


}


h5,
.h5,.h5 strong {
  font-weight: 500;

  font-size: 12px;

  @include min(768) {
    font-size: 13px;
  }
  @include min(992) {
    font-size: 12px;
  }
  @include min(1200) {
    font-size: 13px;

  }
  @include min(1350) {
    font-size: 14px;

  }
  @include min(1440) {
    font-size: 15px;
  }
  @include min(1600) {
    font-size:  16px;
  }
  @include min(1900) {
    font-size: 18px;
  }


}
p{
  margin-bottom: 0;
}
