//font-family: 'RescueW01-SemiBold';

  // @font-face {
  //   font-family: 'RescueW01-SemiBold';
  //   src: url(../font/rescue.woff)  format('woff');
  //   font-weight: 600;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'RescueW01-Bold';
  //   src: url(../font/RescueW01-Bold.woff)  format('woff');
  //   font-weight: 600;
  //   font-display: swap;
  // }
  // @font-face {
  //   font-family: 'The Sans Mono';
  //   src: url(../font/TheSansMono-ExtraBold.otf)  format('woff');
  //   font-weight: 700;
  //   font-display: swap;
  // }

