// Colors
$primaryColor:           #304B9F !default;
$primaryColorDark:           #E8CE87 !default;
$primaryLight:           #E2E2F0 !default;
$secondaryColor:         #F56523 !default;
$secondaryColorLight:    rgba(120, 187, 96, 0.50) !default;

$primaryColorBg:         linear-gradient(90deg, #304B9F 0%, #0604AB 100%) !default;

$grey: #3B3B3B!default;
$lavender:                  #A5A5DF !default;
$white:                  #fff !default;
$black:                  #101010;
$red:                    #F1582C;
$yellow:                 #E2FF06 !default;

$accentColorLight:           #818DA6 !default;
$accentColor:            #4B535D !default;
$headingColor:           #414A66 !default;

// Shadows

// Alert Colors
$success:     #28a745 !default;
$info:        #17a2b8 !default;
$warning:     #ffc107 !default;
$danger:      #dc3545 !default;

// Typography
$primary-font:           "Inter", sans-serif;


