.blog-posts{
    &-old{
         column-gap: clamp(15px , 1.8vw, 38px);
         row-gap: clamp(30px , 1.8vw, 90px );

         
    }
    &-card{
        display: flex;
        flex-direction: column;
        transition: 0.3s;
        width: 100%;
        @include min(768){
            width: 48.9%;

        }
        @include min(1200){
            width: 31.786%;

        }
        picture{
            border-radius: 20px;
            position: relative;
               overflow: hidden;
            margin-bottom: clamp(18px, 2.35vw, 45px);
             &::before,&::after{
            @extend .position;
            inset: 0;
              border-radius: 20px;
                z-index: 2;
            border: 3px solid #0604AB; /* Your color */
            clip-path: inset(0 0 101% 0); /* Hide border initially */
            transition: clip-path 0.6s ease;
                }
                &::after {
                    border-color: #a3a2fc; /* Optional second color */
                    transition-delay: 0.5s;
                }
               
            img{
                        transform: skew(0deg, 0deg);
                            transition: 0.2s ease all;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
                height: 180px;
                @include min(768){
                     height: clamp(200px, 23vw, 220px);
                }
                @include min(1200){
                    height: clamp(150px, 15vw, 288px);

                }
            }
        }
        h3{
            color: $black;
            line-height: 133.33%;
            font-size: clamp(18px, 1.25vw, 24px);
        margin-bottom: clamp(18px, 2vw, 36px);
        }
       
         &:hover{
             picture   img{
                            transform:  skew(5deg, 5deg);
                            transition: 0.8s ease all;
                        }
            h3,button{
                color: $primaryColor;
            }
                      picture{
                          box-shadow: 0 10px 20px rgba(0,0,0,0.08);
                      }
                }
                &:hover,
                &:hover {
                    picture{
                    
                     &::before,&::after{
                           clip-path: inset(0 0 0 0);
                     }
                    }
                }
    }
    &-latest{
        .blog-post-meta {
                .author-image{
                    @include min(1200){
                    font-size: clamp(14px, 1.1vw, 20px);

                }
            }
            span{
                @include min(1200){
                   font-size:  clamp(11px, 1.1vw, 20px);

               }
            }
            .load-more {
                @include min(1200){
            font-size: clamp(14px, 1.1vw, 20px);

        }
    }
        }
        .blog-posts-card{
            + a{
                @include max(575){
                    margin-top: 30px;
                }
            }
            h3{
                @include min(1200){
                    font-size: clamp(20px, 1.6vw, 32px);

                }
            }
            picture{
                    img{
                        @include min(1200){
                            height: clamp(150px, 22.4vw, 430px);

                        }
                    }
            }
            &:first-child{
                @include min(768){
                    width: 48.9%;
                }
                @include min(1200){
                    width: 57.5%;

                }
            }
            &:last-child{
                @include min(768){
                    width: 48.9%;
                }
                @include min(1200){
                    width: 40.4%;

                }
            }
        }
        p{
            margin-bottom: clamp(15px, 1.6vw, 30px);
        }
    }
}
.blog-post-meta {
        margin-top: auto;
        .load-more{
            @include min-max(768,1199){
                width: 100%;
                padding-top: 10px;
            }
        }
       
        > div{
            gap: clamp(5px, 1.6vw, 30px)    ;
        }
    
        img{
            border-radius: 5px;
            width: 16px;
            height: 16px;
            object-fit: cover;
            @include min(768){width: 18px;height: 18px;}
            @include min(992){width: 20px;height: 20px;}
            @include min(1200){width: 22px;height: 22px;}
            @include min(1350){width: 24px;height: 24px;}
            @include min(1440){width: 26px;height: 26px;}
            @include min(1600){width: 28px;height: 28px;}
            @include min(1900){width: 30px;height: 30px;}
    
        }
    
    .author-image{
        color: $black;
        display: flex;
        align-items: center;
        line-height:  155.556%;
        font-weight: 500;
        gap: 12px;
        gap: clamp(5px, 0.7vw, 12px);
        font-size: clamp(14px, 1vw, 18px);
    }
    span{
        border-radius: 80px;
        border: 1px solid #D9D9D9;
        background: #FFF;
        line-height: 175%;
        font-weight: 500;
        font-size:clamp(11px, 1vw, 16px) ;
        padding: 1px 5px;
        @include min(768){padding: 3px 9px;}
        @include min(992){padding: 3.5px 10px;}
        @include min(1200){padding: 4px 11px;}
        @include min(1350){padding: 4.5px 12px;}
        @include min(1440){padding: 5px 13px;}
        @include min(1600){padding: 5.5px 14px;}
        @include min(1900){padding: 6px 15px;}
    }
    button{}
}



section.blog-details {


    aside {
        width: 100%;
    }

    @include min(992) {
        article {
            width: 60.715%;
        }

        aside {
            width: 36.59%;
        }
    }

    @include min(1200) {
        aside {
            width: 34.643%;
        }
    }

 h1,h2,h3,h4,h5,h6{
                    color: $black;}

    article {
                h1,h2,h3,h4,h5,h6{
               
                    +p,+h3,+h4,+h5,+h6,+h2{
                                    margin-top: clamp(15px, 2vw, 12px); 
                    }
                }
            p +,ul +{
                 h3,h4,h5,h2,ul{
                     margin-top: clamp(15px, 2vw, 28px);
                }
            }
      

    

   

   

 

   
     
    }

            h2{
                line-height: 62.5% ;
                font-size: clamp(22px, 1.7vw, 32px);
                                     margin-bottom: clamp(15px, 1.5vw, 28px);

            }
    aside {

        height: fit-content;
        border-radius: 20px;
        background: #F0F2F4;
        padding:clamp(25px, 2.35vw, 45px);

     
        @include max(991){
            margin-top: 50px;
        }
        @include min(992) {
            position: sticky;
            top:clamp(64px, 5.5vw, 104px);;
        }
        .load-more{
             margin-top:clamp(10px, 1.6vw, 29px);
        }

    }



    .recent-article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 10px;
        background: #FFF;
        padding: clamp(15px, 1.15vw, 22px);
        @include max(991){
            align-items: center;
        }
        &:hover{
            background-color: $primaryColor;
            h4,h3{
                color: $white;
            }
            a{
                background: $white;
                &::after{
                    filter: invert(1);
                }
            }
        }
        h4{
            line-height: 111.111%;
            margin-bottom:clamp(5px, 0.6vw, 10px) ;
            display: -webkit-box;
            -webkit-line-clamp: 3;   /* number of lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: clamp(15px, 3vw, 16px);
            @include min(992){
                font-size:  clamp(11px, 1vw, 20px);

            }
        }
        picture {
 width: 80px;
    height: 80px;

                @include min(576){
                                width: 140px;
    height: 94px;
                }
                @include min(768){
                  
    height: 70px;
                }
        
            @include min(992){
                        width: clamp(50px, 5.3vw, 100px);
        height: clamp(50px, 5.3vw, 100px);
            }
            img {
                border-radius: 5px;
                object-fit: cover;
                width: 100%;
                height: 100%;
               
            }
        }

        >div {
            width:65.87%;
            // @include min(576){
            //     width:65.87%;

            // }
            @include min(768){
                width: 74.87%;

            }
            @include min(992){
                width: 72.87%;

            }
        }

        +div {
            margin-top: 12px;
        }
        .blog-btn{
 
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            font-size: 0;
            background: linear-gradient(180deg, #304B9F 0%, #0604AB 100%);
            border-radius: 50%;
            width: 22px;
            height: 22px;
            @include min(576){
                width: 25px;
                height: 25px;

            }
            @include min(992){
                               margin-left: auto;
                   width:  clamp(15px,1.6vw, 30px);
            height: clamp(15px, 1.6vw, 30px);
            }
            &::after{
                width:16px;height: 16px;
                @include min(992){width: 13px;height: 13px;}
                @include min(1200){width: 14px;height: 14px;}
                @include min(1350){width: 15px;height: 15px;}
                @include min(1440){width: 16px;height: 16px;}
                @include min(1600){width: 17px;height: 17px;}
                @include min(1900){width: 18px;height: 18px;}
                right: 50%;
                transform: translate(50%,-50%);
                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3.375 9L14.625 9M14.625 9L10.4063 13.5M14.625 9L10.4063 4.5" stroke="white" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-position: center;
                background-size: contain;

            }
        }
    }

.blogHead{
    @include max(767){
        padding-bottom: 20px;
    }
    h1{
        color: $black;
            line-height: 129.167% ;
            margin-left: auto;
            margin-right: auto;
            font-size: clamp(24px, 2.5vw, 48px);
            @include min(576){
                 width: 73.215%;
            }
            @include min(768){
                 width: 53.215%;
            }

    }
   picture{
     img{
        width: 100%;
        object-fit: cover;
        background: #D9D9D9;
        border-radius: 20px;
        height: clamp(180px, 30.3vw, 581px);
        margin-top: clamp(15px, 1.7vw, 32px);

    }
   }
}



}



.share-navigation {
   
    padding-bottom: 0;
    border-top: 1px solid #D5E8F0;
    border-bottom: 1px solid #D5E8F0;
    padding-top:  clamp(15px, 1.6vw, 30px);
    padding-bottom: clamp(15px, 1.6vw, 30px);
    margin-top: clamp(50px, 6.3vw, 120px);

    button{
        background: unset;
        display: flex;
        align-items: center;
        gap:  clamp(5px, 0.7vw, 12px);
        &:hover{
            color: $primaryColor;
        }
    }

}