.modal-content{
  border-radius: 20px;
  box-shadow: 0 0 10px 10px rgba(54, 54, 54, 0.11);
  padding: clamp(25px, 3vw, 45px);
    .modal-dialog{
      width: 100%;
    }
    .modal-body{
    }

  .btn-close{ 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #DEE8EF;
    z-index: 1;
    right: 25px;
    top: 25px;
    width: 30px;
    height: 30px;
    @include min(992){
      right: 34px;
      top: 34px;
      width: 34px;
      height: 34px;

    }
    @include min(1200){
      right: 36px;
      top: 36px;
      width: 31px;
      height: 31px;
    }
    @include min(1350){
      right: 38px;
      top: 38px;
      width: 33px;
      height: 33px;

    }
    @include min(1440){
      right: 40px;
      top: 40px;
      width: 35px;
      height: 35px;

    }
    @include min(1600){
      right: 42px;
      top: 42px;
      width: 37px;
      height: 37px;

    }
    @include min(1900){
      right: 45px;
      top: 45px;
      width: 40px;
      height: 40px;

    }
    svg{
      // width: 24px;
      // height: auto;
    }
  }
  input{
    height:  clamp(38px, 2.2vw, 42px);
  }
  textarea{
    height: 80px;
    @include min(992){    height:  clamp(38px, 6.6vw, 126px);}

  }
  input, textarea,input::placeholder,textarea::placeholder{
    line-height: 100%;
    // font-size: 18px;
          font-size:  clamp(14px, 0.95vw, 18px);

  }
  input,textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CCD8E0;
    background: #FFF;
        padding:  clamp(8px, 0.7vw, 12px);

  }
  .form-group{
    position: relative;
    + div{
          // margin-top: 15px;
    }
  }
    .buttonGroup {
    gap: 12px;
   }
   form{
    gap: 15px 0px;
   }
   .col--4 {
    width: 100%;
    @include min(768){
      width: 48.277%;
    }
    @include min(992){
      width: 32.277%;
    }
    @include min-max(767,991){
      + .col--4 + .col--4{
        width: 100%;
      }

    }
}
   .col--6 {
    width: 100%;
    @include min(768){
      width: 48.886%;

    }
}
input[readonly] {
  border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    cursor: not-allowed;
}

}
.title{
  color: $black;
  @extend h3;
  margin-top: 6px;
  margin-bottom: 16px;

   + p{
    margin-bottom: 28px;
   }
   
 
}



.ProductEnquiryForm,.downloadBrochureForm {
  .modal-dialog{
    max-width: 675px;
    @include min(1200){
      max-width: 35.304%;
    }

  }
}

.siteEnquiryForm{
  .modal-dialog{
        max-width: 975px;
    @include min(1200){
         max-width: 50.782%;
    }
  }
}