.product-detail{
    padding: 19px 0px 68px 0px;
    @include min(768){
        padding: 22px 0px 71px 0px;
    }
    @include min(992){
        padding: 25px 0px 74px 0px;
    }
    @include min(1200){
        padding: 28px 0px 77px 0px;
    }
    @include min(1350){
        padding: 31px 0px 80px 0px;
    }
    @include min(1440){
        padding: 34px 0px 83px 0px;
    }
    @include min(1600){
        padding: 37px 0px 86px 0px;
    }
    @include min(1900){
        padding: 40px 0px 89px 0px;
    }
    &-image{
               border-radius: 20px;
        text-align: center;
        width: 100%;
        padding: 18px 0px;
        background: #D9D9D9;
        @include min(768){
            padding: 21px 0px;
        }
             @include min(992){

            padding: 24px 0px;
        }
        @include min(1900){
            height: 406px;
        }
        &-nav{
            position: relative;
            margin-top: 17px;
            @include min(1440){
                margin-top: 17px;
            }
            @include min(1600){
                margin-top: 19px;
            }
            @include min(1900){
                margin-top: 21px;
            }

            .slick-slide{
                cursor: pointer;
                margin: 0px 2px;
                @include min(768){
                    margin: 0px 2.15px;
                }
                @include min(992){
                    margin: 0px 2.25px;
                }
                @include min(1200){
                    margin: 0px 2.35px;
                }
                @include min(1350){
                    margin: 0px 2.45px;
                }
                @include min(1440){
                    margin: 0px 2.55px;
                }
                @include min(1600){
                    margin: 0px 2.65px;
                }
                @include min(1900){
                    margin: 0px 2.75px;
                }

            }
            .slick-list{
            margin: 0px -2px;
                @include min(768){
                    margin: 0px -2.15px;
                }
                @include min(992){
                    margin: 0px -2.25px;
                }
                @include min(1200){
                    margin: 0px -2.35px;
                }
                @include min(1350){
                    margin: 0px -2.45px;
                }
                @include min(1440){
                    margin: 0px -2.55px;
                }
                @include min(1600){
                    margin: 0px -2.65px;
                }
                @include min(1900){
                    margin: 0px -2.75px;
                }
            }
            .slick-track {
    // transform: none !important;
    transition: transform 0.4s 
ease !important;
}
            picture{
                                border: 1px solid #edecec;

                border-radius: 4.23px;
                background: rgba(246, 246, 246, 0.87);
        
              img{
                border-radius: 10px;
                object-fit: cover;
                width: 100%!important;
                  opacity: 0.2;
              }
            }
            .slick-slide{
                                border-radius: 10px;

                display: flex!important;
                    width: 69px;
    height: 69px;
                @include min(768){width: 129px; height: 129px;}
                @include min(992){width: 134px; height: 134px;}
                @include min(1200){width: 139px; height: 139px;}
                @include min(1350){width: 144px; height: 144px;}
                @include min(1440){width: 149px; height: 149px;}
                @include min(1600){width: 154px; height: 154px;}
                @include min(1900){width: 159px; height: 159px;}
            }
            .slick-current.slick-active{
                border-radius: 10px;
                border: 2px solid #304B9F;
                background: #D9D9D9;
                img{
                    opacity: 1;
                }
            }
            &::after{
                @extend .position;
                background: #F2F8FA;
filter: blur(10px);
width: 59px;
height: 100%;
right: -34px;
top: 0;
            }
        }
    }
    &-featured{
        background: #D5E8F0;
        height: fit-content;
        text-align: center;
        width: 100%;
        border-radius: 20px;
                    padding: 15px ;


        @include min(992){
            position: sticky;
    top: 100px;
                    width: 50%;

                    padding: 30px ;
        }
             @include min(1200){
            padding: 33px ;
        }
        @include min(1350){
            padding: 36px ;
        }
        @include min(1440){
            padding: 39px ;
        }
        @include min(1600){
            padding: 42px ;
        }
        @include min(1900){
            padding: 45px ;
        }
   
        picture{
            width: 100%;
            
            margin: auto;
            img{
                width: 59.9%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    &-category{
        picture{
            border-radius: 20px;
background: #D9D9D9;
    display: flex;
    align-items: center;
            height: clamp(270px, 31vw, 581px);

        }
    }
    &-content{
        width: 100%;
        padding-top: 30px;
        @include min(992){
            padding-top: 0;
            width: 48.215%;

        }
        @include min(1440){
        }
        @include min(1600){
            padding-top: 9px;
        }
        @include min(1900){
            padding-top: 12px;
        }
    }
    &-content,&-long-description{
        
        h2{
            color: $black;
              margin-bottom:10px;
                font-size: 20px;
            @include min(768){
                  margin-bottom:13px;
                font-size: 29px;
            }
            @include min(992){
            margin-bottom:15px;
                font-size: 30px;
            }
            @include min(1200){
                      margin-bottom:17px;
                font-size: 32px;
            }
            @include min(1350){
                     margin-bottom:20px;
                font-size: 36px;
            }
            @include min(1440){

                                  margin-bottom:24px;
                font-size: 40px;
            }
            @include min(1600){
                  margin-bottom:28px;
                font-size: 44px;
            }
            @include min(1900){
                margin-bottom:32px;
                font-size: 48px;
            }
        }
        > span{
            display: block;
            color: #616161!important;
            font-family: RescueW01-SemiBold;
            font-weight: 600;
            line-height:  87.5%;
            margin-bottom: 15px;
            @include min(768){
                margin-bottom: 12px;
            }
            @include min(992){
                margin-bottom: 14px;
            }
            @include min(1200){
                margin-bottom: 16px;
            }
            @include min(1350){
                margin-bottom: 18px;
            }
            @include min(1440){
                margin-bottom: 20px;
            }
            @include min(1600){
                margin-bottom: 22px;
            }
            @include min(1900){
                margin-bottom: 24px;
            }

        }
        .buttonGroup {
                margin: 20px 0px 10px 0px;
            gap: 10px;
            @include min(768){
                  gap: 8px;
                margin: 36.65px 0px 15px 0px;
            }
            @include min(992){
                gap: 10px;
                margin: 39.65px 0px 18px 0px;
            }
            @include min(1200){
                gap: 12px;
                margin: 42.65px 0px 20px 0px;
            }
            @include min(1350){
                gap: 14px;
                margin: 45.65px 0px 22px 0px;
            }
            @include min(1440){
                gap: 16px;
                margin: 48.65px 0px 24px 0px;
            }
            @include min(1600){
                gap: 18px;
                margin: 51.65px 0px 26px 0px;
            }
            @include min(1900){
                gap: 20px;
                margin: 54.65px 0px 28px 0px;
            }
            button,a{
                svg{
                    height: 18px;
                    height: 18px;
                }
                min-width: 120px;
                height: 40px;
                padding: 0 10.5px;
                @include min(768){
                    min-width: 160px;
                       height: 42px;
                        padding: 0 16.5px;
                               svg{
                                                    height: 20px;

                            width: 20px;
                        }
                }
                @include min(992){
                    min-width: 170px;
                       height: 45px;
                        padding: 0 18.5px;
                             svg{
                                    height: 21px;
                            width: 21px;
                        }
                }
                @include min(1200){
                    min-width: 180px;
                       height: 50px;
                        padding: 0 20.5px;
                            svg{
                                      height: 22px;
                            width: 22px;
                        }
                }
                @include min(1350){
                    min-width: 190px;
                    height: 54px;
                        padding: 0 22.5px;
                             svg{
                                               height: 23px;
                            width: 23px;
                        }
                }
                @include min(1440){
                    min-width: 204px;
                       height: 49px;
                        padding: 0 24.5px;
                        svg{
                                           height: 24px;
                            width: 24px;
                        }
                }
                @include min(1600){
                       height: 54px;
                        padding: 0 26.5px;
                           svg{
                                             height: 26px;
                            width: 26px;
                        }
                }
                @include min(1900){
                       height: 60px;
                        padding: 0 28.5px;
                             svg{
                                          height: 28px;
                            width: 28px;
                        }
                }
                &.btnBorder{
                    color: #A3864F;
                    &:hover{
                        color: #fff;
                    }


                }
            }
        }
        h3{
            color: $black;
            line-height: 166.667% ;
           
           
           @include min(992){
                font-size: 16px;
                margin-bottom: 7px;
            }
            @include min(1200){
                font-size: 18px;
                margin-bottom: 8px;
            }
            @include min(1350){
                font-size: 19px;
                margin-bottom: 9px;
            }
            @include min(1440){
                font-size: 20px;
                margin-bottom: 10px;
            }
            @include min(1600){
                font-size: 22px;
                margin-bottom: 11px;
            }
            @include min(1900){
                font-size: 24px;
                margin-bottom: 12px;
            }

        }
        
                     h4{
              
                   
                   color: #000;
                   @include min(992){
                        margin-bottom: 7px;
                    }
                    @include min(1200){
                        margin-bottom: 8px;
                    }
                    @include min(1350){
                        margin-bottom: 9px;
                    }
                    @include min(1440){
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    @include min(1600){
                        margin-bottom: 11px;
                    }
                    @include min(1900){
                        margin-bottom: 12px;
                    }
                }
                p +h4,P + ul,ul + h4{
                        margin-top: 14px;
                        @include min(768){margin-top: 16px;}
                        @include min(992){margin-top: 18px;}
                        @include min(1200){margin-top: 20px;}
                        @include min(1350){margin-top: 22px;}
                        @include min(1440){margin-top: 24px;}
                        @include min(1600){margin-top: 26px;}
                        @include min(1900){margin-top: 28px;}
                    }
                
        p,ul{
            + h3,+ h2{
                margin-top:15px;
                 @include min(576){
                margin-top:18px;

              }
                 @include min(768){
                margin-top:21px;

              }
                 @include min(992){
                margin-top:24px;

              }
                 @include min(1200){
                margin-top:27px;

              }
                 @include min(1350){
                margin-top:30px;

              }
                 @include min(1440){
                margin-top:33px;

              }
                 @include min(1600){
                margin-top:36px;

              }
                 @include min(1900){
                margin-top:39px;

              }
              
            }
            +p{
                margin-top:10px;

              
                   @include min(768){
                margin-top:15px;

              }
                   @include min(992){
                margin-top:17px;

              }
                   @include min(1200){
                margin-top:19px;

              }
                   @include min(1350){
                margin-top:21px;

              }
                   @include min(1440){
                margin-top:23px;

              }
                   @include min(1600){
                margin-top:26px;

              }
                   @include min(1900){
                margin-top:29px;

              }
              }
        }
        ul  +ul{
        margin-top: 20px;
        @include min(992){
          margin-top: 27px;
        }
        @include min(1200){
          margin-top: 31px;
        }
        @include min(1350){
          margin-top: 35px;
        }
        @include min(1440){
          margin-top: 39px;
        }
        @include min(1600){
          margin-top: 43px;
        }
        @include min(1900){
          margin-top: 47px;
        }
     
      }
    }
&-long-description{
    margin-top: 30px;
    @include min(768){
        margin-top: 38px;
    }
    @include min(992){
        margin-top: 41px;
    }
    @include min(1200){
        margin-top: 46px;
    }
    @include min(1280){
        margin-top: 51px;
    }
    @include min(1350){
        margin-top: 56px;
    }
    @include min(1440){
        margin-top: 61px;
    }
    @include min(1600){
        margin-top: 66px;
    }
    @include min(1900){
        margin-top: 71px;
    }
}
.theme-btn{
    padding-left: 29px; padding-right: 29px;
    @include min(768){ padding-left: 32px; padding-right: 32px;}
    @include min(992){ padding-left: 35px; padding-right: 35px;}
    @include min(1200){ padding-left: 37px; padding-right: 37px;}
    @include min(1350){ padding-left: 40px; padding-right: 40px;}
    @include min(1440){ padding-left: 43px; padding-right: 43px;}
    @include min(1600){ padding-left: 46px; padding-right: 46px;}
    @include min(1900){ padding-left: 49px; padding-right: 49px;}
}
.brand{
    picture{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 50px;
        @include min(768){width: 190px; height: 95px;}
        @include min(992){width: 200px; height: 100px;}
        @include min(1200){width: 210px; height: 106px;}
        @include min(1350){width: 220px; height: 110px;}
        @include min(1440){width: 230px; height: 114px;}
        @include min(1600){width: 240px; height: 118px;}
        @include min(1900){width: 250px; height: 122px;}
    }
    img{
        width: 64.868%;
          max-height: 91.81%;
    object-fit: contain;
    }
}
}








.product-listing-slider-init{
  .slick-slide{
     margin: 0px 4px;
     @include min(768){margin: 0px 5px;}
     @include min(992){margin: 0px  6px;}
     @include min(1200){margin: 0px 7px;}
     @include min(1350){margin: 0px 8px;}
     @include min(1440){margin: 0px 12px;}
     @include min(1600){margin: 0px 14px;}
     @include min(1900){margin: 0px 16.5px;}
  }
  .slick-list{
     margin: 0px -4px;
     @include min(768){margin: 0px -5px;}
     @include min(992){margin: 0px  -6px;}
     @include min(1200){margin: 0px 7px;}
     @include min(1350){margin: 0px -8px;}
     @include min(1440){margin: 0px -12px;}
     @include min(1600){margin: 0px -14px;}
     @include min(1900){margin: 0px -16.5px;}
  }


  .slick-slide{
    width: 200px;
    @include min(768){width: 220px;}
    @include min(992){width: 243px;}
    @include min(1200){width: 273px;}
    @include min(1350){width: 251px;}
    @include min(1440){width: 259px;}
    @include min(1600){width: 284px;}
    @include min(1900){width: 344px;}
  }
}
.related-products{
    overflow-x: hidden;
    ~footer{
        margin-bottom: 36px!important;
    }
    .head{
        margin-bottom: 28px;
    }
}