.policy{
  @extend .commonPadding-120;
  ol,ul{
    li{
      color: $black;
       font-size: clamp(18px, 1.3vw, 24px);

    }
  }
  ol{
    li{
      list-style:decimal
    }
  }
  h3{
    color: $black;
      font-size: clamp(18px, 1.3vw, 24px);
       margin-bottom: clamp(10px, 1vw, 18px);
  }
  p
   + h3,li + li{
           margin-top: clamp(12px, 1.25vw, 24px);

  }
}