header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    padding-top: 9.52px;

    @include min(576) {
        padding-top: 10.52px;
    }

    @include min(768) {
        padding-top: 11.52px;
    }

    @include min(992) {
        padding-top: 12.52px;
    }

    @include min(1200) {
        padding-top: 13.52px;
    }

    @include min(1280) {
        padding-top: 14.52px;
    }

    @include min(1350) {
        padding-top: 15.52px;
    }

    @include min(1440) {
        padding-top: 16.52px;
    }

    @include min(1600) {
        padding-top: 17.52px;
    }

    @include min(1900) {
        padding-top: 18.52px;
    }

}

.header {
    &-contact {

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: $primaryColorBg;

            width: 30px;
            height: 30px;

            // @include min(576){ width: 28px; height: 28px;}
            // @include min(768){ width: 30px; height: 30px;}
            @include min(992) {
                width: 32px;
                height: 32px;
            }

            @include min(1200) {
                width: 34px;
                height: 34px;
            }

            @include min(1350) {
                width: 34px;
                height: 34px;
            }

            @include min(1440) {
                width: 38px;
                height: 38px;
            }

            @include min(1600) {
                width: 40px;
                height: 40px;
            }

            @include min(1900) {
                width: 50px;
                height: 50px;
            }

            svg {
                height: auto;
                width: 15px;

                @include min(768) {
                    width: 14px;
                }

                @include min(992) {
                    width: 15px;
                }

                @include min(1200) {
                    width: 16px;
                }

                @include min(1350) {
                    width: 17px;
                }

                @include min(1440) {
                    width: 18px;
                }

                @include min(1600) {
                    width: 19px;
                }

                @include min(1900) {
                    width: 20px;
                }
            }
        }
    }

    &-right {
        div {
            margin-left: auto;
            padding: 4px;

            @include min(768) {
                min-width: 195px;
            }

            @include min(992) {
                   min-width: 165px;
                padding: 4px;
                min-width: 61.363%;
            }

            @include min(1200) {
                padding: 6px;
            }

            @include min(1350) {
                padding: 5px;
            }

            @include min(1440) {
                padding: 6px;
            }

            @include min(1600) {
                padding: 7px;
            }

            @include min(1900) {
                padding: 8px;
            }

        }
    }

    &-left {
        >div {
            width: 100%;
            padding: 4px;

            @include min(768) {
                padding: 5px;
                gap: 15px;
            }

            @include min(1200) {
                padding: 6px;
                gap: 20px;
            }

            @include min(1350) {
                padding: 7px;
                gap: 22px;
            }

            @include min(1440) {
                padding: 8px;
                gap: 24px;
            }

            @include min(1600) {
                padding: 10px;
                gap: 26px;
            }

            @include min(1900) {
                padding: 12px;
                gap: 28px;
            }


        }

        a {
            color: $primaryColor;
        }
    }

    &-left,
    &-right {
        align-items: center;
        display: flex;

        @include max(991) {
            min-width: 73px;
        }

        @include min(992) {
            min-width: 29.585%;

        }

        a {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @include min(768) {
                gap: 5px;
            }

            @include max(991) {
                font-size: 0;
            }

            @include min(992) {
                gap: 5.5px;
            }

            @include min(1200) {
                gap: 6px;
            }

            @include min(1350) {
                gap: 7px;
            }

            @include min(1440) {
                gap: 8px;
            }

            @include min(1600) {
                gap: 10px;
            }

            @include min(1900) {
                gap: 12px;
            }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 80px;
            background: #FFF;

            @include max(767) {
                gap: 5px;
            }
        }

    }


}


.header-button {
    button.btn {
        border: 1px solid transparent;

        border-radius: 80px;
        background: $primaryColorBg;
        color: $white;
        text-transform: uppercase;
        height: 42px;
        width: 72.865%;

        @include max(767) {
            &:first-child {
                display: none;
            }
        }

        @include min(576) {
            height: 31px;
        }

        @include min(768) {
            height: 32px;
        }

        @include min(992) {
            height: 35px;
        }

        @include min(1200) {
            height: 38px;
            width: 69.865%;
        }

        @include min(1350) {
            height: 43px;
        }

        @include min(1440) {
            height: 46px;
        }

        @include min(1600) {
            height: 53px;
        }

        @include min(1900) {
            height: 58px;
        }

        &:hover {
            border: 1px solid $primaryColor;
            background: #fff;
            color: $primaryColor;
        }
    }

    .navbar-toggler {
        padding: 0;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 50%;
        background: $primaryColorBg;
        width: 33px;
        height: 33px;

        @include min(576) {
            width: 33px;
            height: 33px;
        }

        @include min(768) {
            width: 38px;
            height: 38px;
        }

        @include min(992) {
            width: 36px;
            height: 36px;
        }

        @include min(1200) {
            width: 38px;
            height: 38px;
        }

        @include min(1350) {
            width: 40px;
            height: 40px;
        }

        @include min(1440) {
            width: 44px;
            height: 44px;
        }

        @include min(1600) {
            width: 48px;
            height: 48px;
        }

        @include min(1900) {
            width: 50px;
            height: 50px;
        }

        svg {
            height: auto;

            @include min(576) {
                width: 13px;
            }

            @include min(768) {
                width: 10px;
            }

            @include min(992) {
                width: 11px;
            }

            @include min(1200) {
                width: 13px;
            }

            @include min(1350) {
                width: 15px;
            }

            @include min(1440) {
                width: 17px;
            }

            @include min(1600) {
                width: 19px;
            }

            @include min(1900) {
                width: 21px;
            }
        }
    }

}

header {

    transition: 0.3s ease all;

    &.scrolled {
        transition: 0.5s ease all;
        background: #fff;
        padding: 10px 0px;
    }

    .brand {
        width: 115px;

        @include min(576) {
            width: 13.3268%;

        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.mobDropDown {
    position: relative;
    // &:hover{
    //     .dropdown-menu{
    //         display: block;
    //         transition: 0.5s ease all;
    //     }
    // }

    button {
        background: unset;
        &:focus-visible{
            border: unset;
            overflow: unset;
        }

        svg {
            height: auto;
            width:  clamp(15px, 1.3vw, 24px);
            transform: rotate(0deg);
            transition: transform 0.5s ease;
        }

        &.show {
            svg {
                transition: transform 0.5s ease;
                transform: rotate(180deg);
            }

        }
    }

    .dropdown-menu {
        position: unset !important;
        transform: translate(0) !important;
        border: unset;
        padding-top: 15px;
        padding-left: 15px;
        
        background: unset;
        @include  min(992){
              padding-top: clamp(10px, 1vw, 18px);
        padding-left:  clamp(13px, 1.2vw, 23px);
        }

        li {
            display: inline-block;
            width: fit-content;
            margin-bottom: clamp(10px, 1vw, 18px);
            border: 1px solid #5B75C5;
            background: #1A25A5;
            padding: 6px 8px;
            @include min(768){padding: 12px 14px;}
            @include min(992){padding: 13px 15px;}
            @include min(1200){padding: 13.5px 16px;}
            @include min(1350){padding: 14px 17px;}
            @include min(1440){padding: 14.5px 18px;}
            @include min(1600){padding: 15px 19px;}
            @include min(1900){padding: 15.5px 20px;}

            &:hover {
                background: $white;

                a {
                    color: $primaryColor;

                }
            }

        }
    }
}
