.offcanvas {
    width: 100%;
    z-index: 9999999;
}

.mobile_left_menu {
    background: #1A25A5;
    min-height: 100vh;
    height: fit-content;
    top: 60px;

    border-radius: 0 0 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(22, 40, 2, 0.10);
    backdrop-filter: blur(40px);

    @include min(768) {top: 60px;}
    @include min(992) {top: 62px;}
    @include min(1200) {top: 72px;}
    @include min(1350) {top: 80px;}
    @include min(1440) {top: 83px;}
    @include min(1600) {top: 92px;}
    @include min(1900) {top: 110px;}

    nav {
        @include max(991){
            height: 100vh;
    overflow-y: auto;
    padding-bottom: 150px;
        }
        @include min(992) {
            padding-left: 20px;

        }


        a {
            color: $white;
            font-weight: 400;
        }
    }

    @include max(575) {
        nav {
            // height: 380px;
            // align-items: flex-start;
        }
    }

    li.has-sub>ul {
        padding-left: 25px;
        margin-bottom: 20px;
    }

    ul {
        width: 100%;
    }

    .social {
        position: absolute;
        bottom: 30px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);

        .btn {
            width: 100%;
            color: $white;
            font-weight: 600;
            padding: 8px 0px;
            margin-bottom: 15px;

            &:last-child {
                border: 1px solid $white;

                &:hover {
                    background-color: $secondaryColor;
                    border-color: $secondaryColor;
                }
            }
        }
    }

    .social ul {
        display: flex;
        justify-content: space-between;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $white;
            font-size: 13px;
            gap: 5px;

        }

        svg {
            width: 22px;
            height: auto;
        }
    }

    // opacity: 0;
    // transition: 0.3s ease all;
    &.show {
        // transition: 0.5s ease all;
        // opacity: 1;
    }

    .offcanvas-header {
        >div {
            width: 70%;
            padding-top: 11px;
        }

        div {
            display: flex;
            align-items: center;
            gap: 25px;
            padding-right: 5px;

            @include min(768) {
                gap: 34px;
            }
        }
    }

    .btn-close {
        // filter: invert(0);
        background-color: #fff;
        border-radius: 50%;
        opacity: 1;

        position: absolute;
        right: 10px;
        top: 20px;

        width: clamp(25px, 4.2vw, 80px);
        height: clamp(25px, 4.2vw, 80px);
        @include min(992){
            right: 36px;
            top: 36px;
    
            width: clamp(30px, 4.2vw, 80px);
            height: clamp(30px, 4.2vw, 80px);

        }

        &:hover {
            background: $primaryColor;

            path {
                fill: $white;
                stroke: $white;
            }
        }
    }

    strong {
        display: block;
        color: #fff;
        font-size: clamp(16px, 1.25vw, 24px);
        margin-bottom: clamp(10px, 1vw, 18px);
        // margin-top: 18px;
    }

    ul {

        // padding-left: 20px;
        li {
            margin-bottom: clamp(13px, 1vw, 18px);

            a {
                line-height: normal;
                font-weight: 300;
                font-size: clamp(15px, 1.25vw, 24px);
            }
        }
    }

    .btn-close {
        margin-right: 0;

        svg {
            height: auto;
            width: 15px;

            @include min(576) {
                width: 18px;
            }

            @include min(768) {
                width: 19px;
            }

            @include min(992) {
                width: 20px;
            }

            @include min(1200) {
                width: 21px;
            }

            @include min(1350) {
                width: 22px;
            }

            @include min(1440) {
                width: 23px;
            }

            @include min(1600) {
                width: 24px;
            }

            @include min(1900) {
                width: 25px;
            }
        }
    }

    .offcanvas-header {
        padding-bottom: 0;
        padding-top: 15px;
    }

    .offcanvas-body {
        margin-top: 45px;
        padding: 0;

    }

    .menu-col {
        width: 100%;

        @include min(992) {
            width: 50%;
            border-right: 1px solid #fff;

        }

        &:first-child {
            @include min(992){
                padding-right: clamp(20px, 2.3vw, 43px);

            }
        }

        &:last-child {
            @include min(992){
                padding-left: clamp(20px, 2.3vw, 43px);

            }
            border: unset;
        }
    }

    .brands {
        gap: clamp(20px, 1.3vw, 24px);

        a {
            padding: 0;
        }

        img {
            width: 40px;
            height: 40px;
            @include min(992){
                width: clamp(25px, 3vw, 57px);
                height: clamp(25px, 3vw, 56px);

            }
        }
    }
    .links a {
    background: #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

}

.mobDropDown {
    &.dropdown{
        >
        a {
            padding-right: 12px;
        }
    }

    li {}
}