
// Helpers
@import "../scss/helpers/variables";
@import "../scss/helpers/media-queries";
@import "../scss/helpers/mixins";
@import "../scss/helpers/font-kit";


//Layout
@import "../scss/layout/reset";
@import "../scss/layout/header";
@import "../scss/layout/footer";
@import "../scss/layout/offcanvas-menu";
// Components
@import "../scss/pages/modal";

//pages
@import "../scss/pages/style";
@import "../scss/pages/home";
@import "../scss/pages/home-v2";
@import "../scss/pages/about-us";
@import "../scss/pages/products";
@import "../scss/pages/products-detail";
@import "../scss/pages/modal";
@import "../scss/pages/terms";
@import "../scss/pages/blog";
@import "../scss/pages/contact";
@import "../scss/pages/services";
@import "../scss/pages/404";


@import "../scss/components/floatingbutton";

// Base 
// @import "../scss/base/buttons";
@import "../scss/base/font-settings";
// @import "../scss/base/forms";